.deck-tooltip, .deckgl-widget-ctrl, .deckgl-widget-tooltip {
  font: 12px/20px "Helvetica Neue", Arial, sans-serif;
}

.deckgl-widget-tooltip {
  padding: 5px;
  /* border-radius: 5px; */
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  pointer-events: none;
  display: none;
}

.deckgl-widget-ctrl-group, .deckgl-widget-tooltip {
  position: absolute;
  /* pointer-events: none; */
  z-index: 2;
}

.deckgl-widget-ctrl {
  background: #FFFFFF;
  padding: 10px;
}

.deckgl-widget-ctrl-top-left { top: 10px; left: 10px; }
.deckgl-widget-ctrl-top-right { top: 10px; right: 10px; }
.deckgl-widget-ctrl-bottom-left { bottom: 10px; left: 10px; }
.deckgl-widget-ctrl-bottom-right { bottom: 10px; right: 10px; }

.deckgl-widget-json-editor {
  position: absolute;
  z-index: 9;
  width: 50%;
}

.legend ul {
  padding: 0;
  margin-bottom: 0;
}

.legend li {
  list-style-type: none;
  margin: 0 0 8px 0;
  display: flex;
  vertical-align: middle;
}

.point-mark {
  width: 10px;
  height: 10px;
  align-self: center;
  border-radius: 50%;
  margin-right: 12px;
  box-sizing: border-box;
  display: inline-block;
}
